@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

:root {
    --primary-font-family: "Chakra Petch";

    --bold-font-weight: 700;
    --semiBold-font-weight: 600;
    --regular-font-weight: 400;

    --primary-background-color: #090909;
    --primary-text-color: white;
    --primary-btn-color: #0068A2;
    --secondary-btn-color: #E41F12;

    --theme-icon-fill: rgba(255, 255, 255, 1);

    --big-font-size: 96px;
    --medium-font-size: 64px;
    --small-font-size: 32px;
    --very-small-font-size: 20px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    user-select: none;
}

.theme-icon , .clear-icon {
    position: absolute;
    width: 40px;
    height: 40px;
    fill: var(--theme-icon-fill);
    filter: none;
}

.theme-icon {
    top: 0;
    right: 0;
    margin: 24px 24px 0 0;
}

.clear-icon {
    bottom: 0;
    right: 0;
    margin: 0 24px 24px 0;
}

body {
    background-color: var(--primary-background-color);
    width: 100%;
    min-height: 100vh;
    display: grid;
    grid-auto-rows: 0;
    align-content: center;
}

.page-grid {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    width: 100%;
    height: auto;
    row-gap: 20px;
    align-content: center;
    justify-items: center;
}

.cell {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 200px;
    /* background-color: gray; */
}

h2 {
    font-family: var(--primary-font-family);
    color: var(--primary-text-color);
    font-size: var(--medium-font-size);
    font-weight: var(--semiBold-font-weight);
    text-transform: uppercase;
}

p {
    font-family: var(--primary-font-family);
    color: var(--primary-text-color);
    font-size: var(--big-font-size);
    font-weight: var(--bold-font-weight);
}

.btn-flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.btn {
    fill: var(--primary-text-color);
}

.add {
    width: 66px;
    height: 156px;
    rotate: 90deg;
    background-color: var(--primary-btn-color);
    border-radius: 30px;
    
}

.sub {
    width: 45px;
    height: 96px;
    rotate: -90deg;
    background-color: var(--secondary-btn-color);
    border-radius: 30px;
}